<section>
  <input type="text">
  <input type="number">
  <button id="create-record" {{action "createRecord"}}>Create dummy record</button>
  <p id="status-message">{{statusMessage}}</p>
</section>
<section>
  <ul>
    {{#each people as |person|}}
      <li>
        {{#link-to "create-record.find-record" person.id}}{{person.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</section>

{{outlet}}
